@import "colorui/main.qss";
@import "colorui/icon.qss";
@import "colorui/animation.qss";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 margin-top: 30rpx;
  box-sizing: border-box;
}
.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}